.main-footer-div {
  width: 100%;
  height: 100px;
  background-color: #0d1117;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  border-top: 1px solid rgb(66, 66, 66);
}
@media (max-width: 970px) {
  .main-footer-div {
    flex-direction: column;
  }
}
.footer-links-main-div {
  display: flex;
  align-items: center;
}
@media (max-width: 770px) {
  .footer-links-main-div {
    flex-direction: column;
  }
}
.github-2022-footer-span {
  display: flex;
  color: grey;
  align-items: center;
}
.github-2022-footer-span img {
  width: 20px;
  fill: grey !important;
}
.footer-links-main-div a {
  margin-right: 20px;
}
.navbar-nav-1 {
  background-color: #161b22;
  width: 100%;
  height: 70px;
}

.navbar-input-dropdown-cont {
  width: 40vw;
  padding: 0;
  background-color: #0d1117;
  color: white;
  border: 0.2px solid grey;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.navbar-input-dropdown-item {
  color: white;
  border-bottom: 0.2px solid grey;
}

.navbar-input-dropdown-item:hover {
  background-color: #1f6feb;
}

.search-or-jump {
  padding-right: 100px;
  background-color: black;
  color: white;
  border: 0.2px solid #3a3e42;
}
.search-or-jump:focus {
  background-color: black;
  border: 0.5px solid grey;
}
.pmie-texts-nav {
  color: white !important;
  font-weight: bold;
}
.pmie-texts-nav:hover {
  color: rgb(168, 168, 168) !important;
}
.bi-bell-navbar,
.bi-plus-lg-navbar {
  color: white;
  font-size: 20px;
}
.bi-caret-down-fill {
  color: white;
}
.user-img-navbar {
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
}
/* Header */
.main-header-main-div {
  width: 100%;
  height: 70px;
  background-color: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #3a3e42;
}
.or-texts-1st-p {
  color: white !important;
  display: flex;
  align-items: center;
  margin-bottom: -20px;
  text-decoration: none;
  margin-left: -110px;
}
.or-texts-1st-p:hover {
  color: rgb(168, 168, 168) !important;
  cursor: pointer;
  text-decoration: none;
}
.or-texts-1st-p span {
  font-weight: 550;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
}
.repos-badge {
  background-color: rgb(70, 70, 70) !important;
  border-radius: 99px;
  color: white;
}
/* Left sidebar */
.leftInfo-main-div {
  height: 100vh;
  background-color: #0d1117;
  position: relative;
  z-index: 100 !important;
}
.left-sidebar-user-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -50px;
}
.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 40px;
}
.edit-profile-btn {
  width: 300px;
  border: 0.2px solid grey;
}
.edit-profile-btn:hover {
  border: 0.2px solid rgb(218, 218, 218);
  background-color: rgb(71, 71, 71);
}
/* repos */

.repos-main-div {
  width: 100%;
  background-color: #0d1117;
}
.repo-name-a {
  font-size: 20px;
  font-weight: 600;
  color: #498ad3 !important;
}
.repos-public-badge {
  background-color: transparent !important;
  border-radius: 99px;
  color: rgb(150, 150, 150);
  border: 1px solid rgb(66, 66, 66);
}
.single-repo-main-repo-div {
  border-bottom: 1px solid rgb(66, 66, 66);
}
.star-starred {
  background-color: #21262d;
  border: 1px solid rgb(139, 139, 139);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  color: white;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
}
.arrow-down-fill-div {
  background-color: #21262d;
  border: 1px solid rgb(139, 139, 139);
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}
.bi-star-fill-style {
  color: rgb(206, 206, 206);
  font-size: 14px !important;
}
.circle-yellow-language {
  width: 15px;
  height: 15px;
  background: yellow;
  border-radius: 50%;
}
.search-or-jump-repo {
  background-color: black;
  color: white;
  border: 0.2px solid #3a3e42;
  border-radius: 8px;
}

.search-or-jump-repo:focus {
  background-color: black;
  border: 0.5px solid grey;
}
.tlsn-4-div {
  background-color: #21262d;
  border: 0.2px solid grey;
  border-radius: 5px;
}
.tlsn-4-div-last {
  background-color: #238636;
  border-radius: 5px;
}
.repos-search-div {
  border-bottom: 1px solid rgb(66, 66, 66);
}
/* main page */

.my-main-main-div-cont {
  width: 100%;
  margin-top: 20px;
  display: flex;
  position: relative;
}
.my-main-main-div-cont-col {
  width: 30vw;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}
.my-main-main-div-cont-row {
  border: 0.3px solid grey;
  border-radius: 10px;
  flex-direction: column;
}
.repo-description-main-page {
  color: white;
  text-align: start;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
