.main-footer-div {
  width: 100%;
  height: 80px;
  background-color: #0d1117;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.navbar-nav-1 {
  background-color: #161b22;
  width: 100%;
  height: 70px;
}
.search-or-jump {
  padding-right: 100px;
  background-color: black;
  color: white;
  border: 0.2px solid #3a3e42;
}
.search-or-jump:focus {
  background-color: black;
  border: 0.5px solid grey;
}
.pmie-texts-nav {
  color: white !important;
  font-weight: bold;
}
.pmie-texts-nav:hover {
  color: rgb(168, 168, 168) !important;
}
.bi-bell-navbar,
.bi-plus-lg-navbar {
  color: white;
  font-size: 20px;
}
.bi-caret-down-fill {
  color: white;
}
.user-img-navbar {
  width: 30px;
  height: 30px;
  border-radius: 50% !important;
}
/* Header */
.main-header-main-div {
  width: 100%;
  height: 70px;
  background-color: #0d1117;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-bottom: 1px solid #3a3e42;
}
.or-texts-1st-p {
  color: white !important;
  display: flex;
  align-items: center;
  margin-bottom: -20px;
  text-decoration: none;
  margin-left: -160px;
}
.or-texts-1st-p:hover {
  color: rgb(168, 168, 168) !important;
  cursor: pointer;
  text-decoration: none;
}
.or-texts-1st-p span {
  font-weight: 550;
  font-size: 14px;
  margin-left: 10px;
  text-decoration: none;
}
/* Left sidebar */
.leftInfo-main-div {
  height: 100vh;
  background-color: #0d1117;
  position: relative;
  z-index: 100 !important;
}
.left-sidebar-user-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -50px;
}
.user-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 30px;
}
/* repos */

.repos-main-div {
  width: 100%;
  height: 100vh;
  background-color: #0d1117;
}
